.large_img {
	width: 90%;
}

.media-row {
	margin-left: 50px;
	margin-right: 50px;
}

.big-gif {
	height: 300px;
	width: 300px;
	display: inline;
}

.insert-right {
	float: right;
	clear: right;
	height: 20vw;
	width: 20vw;
}

.insert-left {
	float: left;
	clear: left;
	height: 20vw;
	width: 20vw;
}

.big {
	max-height: 400px;
	width: 40%;
}

.full-img {
	width: 100%;
}

.right-img {
	max-width: 300px;
	max-height: 300px;

}

.banner {
	width: 100%;
	text-align: center;
	clear: both;
	overflow: auto;
}

.inline-img {
	float: left;
	display: block;
	margin: auto;
	max-width: 400px;
	max-height: 200px;
}

.notop {
	margin-top: 0px;
}

.nobot {
	margin-bottom: 0px;
}

.caponly {
	margin: 0px 0px 0px 72px;
	clear: none;
}

.botmar {
	margin-bottom: 50px;
}

.margin-sides {
	margin-left: 40px;
	margin-right: 40px;
}